<h1> Template Forms </h1>
<form #form="ngForm">
  <input
    type="email"
    name="email"
    [(ngModel)]="Data.email"
    placeholder="Email"
    #email="ngModel"
    required
  />
  <div *ngIf="email.touched">
    <p *ngIf="email.errors?.required">Email Required</p>
  </div>
  <br />
  <input
    type="password"
    name="password"
    [(ngModel)]="Data.password"
    placeholder="Password"
    #password="ngModel"
    required
  />
  <div *ngIf="password.touched">
    <p *ngIf="password.errors?.required">Password Required</p>
  </div>
  <br />
  <button
    type="submit"
    [disabled]="form.invalid"
    (click)="submit(); form.reset()"
  >
    Submit
  </button>
</form>
