<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1> Reactive Forms </h1>
  <div class="form-group"  >
    <input id="email" type="email" placeholder="Email" formControlName='email' />
    <div *ngIf="form.controls.email.errors?.required && form.controls.email.touched" class="error">
      Email Required!
    </div>
  </div>
  <div class="form-group">
    <input id="password" type="password" placeholder="Password" formControlName="password" />
    <div *ngIf="form.controls.password.errors?.required && form.controls.password.touched" class="error">
        Password Required!
      </div>  
  </div>
  <br />

  <input type="submit" value="Click Me" disabled="form.invalid" />
</form>
