<!--The content below is only a placeholder and can be replaced.-->
<nav ngClass="parent-menu">
  <ul>
    <li>
      <a [routerLink]="['Home']" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a [routerLink]="['admin']" routerLinkActive="active">Admin</a>
    </li>
  </ul>
</nav>
<div>
  <h1>ngStyle Example</h1>
  <ul *ngFor="let person of people">
    <li [ngStyle]="{'color': getcolor(person.Country)}">
      {{person.name}}- ({{person.Country}})
    </li>
  </ul>
  {{demo}}
</div>
<span [innerHTML]='demotwo'></span>
<div>
  <h3>(Img) Property Binding</h3>
  <img [src]="'https://angular.io/assets/images/logos/angular/angular.svg'" [height]="200">
</div>
<div>
  <h1>Attribute Binding</h1>
  <table [attr.border]="bdr" height="200" width="400">
    <tr>
      <td [attr.colspan]="cols">Student Details</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Class</td>
    </tr>
    <tr>
        <td> 001 </td>
        <td> Ajeet Kumar </td>
        <td> 10th </td>
      </tr>
  </table>
</div>
<div>
  <h4>Event Binding</h4>
  <button (click)="showdata()"> Click Me</button>
</div>

<div>

  <h4>With-Out ngmodel</h4>
  <input [value]='data' (input)='data=$event.target.value'> <br/>
Your Data : {{data}}
<h4>With ngmodel</h4>
<input [(ngModel)]='data1' >
Entered Value : {{data1}}
</div>




<div>
  <h3>
    <router-outlet></router-outlet>
  </h3>
</div>
