<html>
<head>
<title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<p>{{ message }}</p>

<form method="post" >

<input type="text" name="username">
<input type="text" name="password">
<input type="submit" name="submit" value="submit">
</form>
</body>
</html>

